<% include header.html %>
<link type="text/css" rel="stylesheet" href="../css/chat.min.css" />
</head>
<body>
	<div class="chat-main row">
		<div class="chat-container col-sm-6">
			<div class="chat-title">
				<span>Chat</span>
			</div>
			<section class="chat-content">
				<article class="chat-item">
					<a href="javascript:;" class="pull-left ">
						<img class="img-circle head head-f" src="../images/head-f.jpg" />
					</a>
					<section class="chat-body">
						<div class="panel text-sm">
							<div class="arrow-left-up"></div>
							<div class="arrow-left-down"></div>
							<div class="panel-body">
								<p>Hi <%= user.username%>, I have upload a cost form !</p>
							</div>
						</div>
						<small class="send-time">Alice ,4 hours ago</small>
					</section>
				</article>
			</section>
			<!-- <section class="re-chat-content">
				<article class="chat-item">
					<a href="javascript:;" class="pull-right ">
						<img class="img-circle head head-m" src="../images/head-m.gif" />
					</a>
					<section class="chat-body">
						<div class="panel text-sm">
							<div class="arrow-right-up"></div>
							<div class="arrow-right-down"></div>
							<div class="panel-body">
								<p>yeah ! I knew it .</p>
							</div>
						</div>
						<small class="send-time"><%= user.username%> ,1 minutes ago</small>
					</section>
				</article>
			</section> -->
			
			<!-- border-div -->
			<div class="border-div"></div>
			<section class="send-m-content">
				<article class="chat-item">
					<a href="javascript:;" class="pull-left ">
						<img class="img-circle head head-m" src="../images/head-m.gif" />
					</a>
					<section class="chat-body">
						<div class="input-group">
							<input type="text" class="form-control" id="message" placeholder="send something"/>
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" id="sendMessage">Send</button>
							</span>
						</div>
					</section>
				</article>
			</section>
		</div>
		<div class="svg-container col-sm-5 col-sm-offset-1">
			
		</div>
	</div>
<% include footer.html %>
