<% include header.html %>
<link type="text/css" rel="stylesheet" href="../css/chat.min.css" />
</head>
<body>
	<div class="chat-main row">
		<div class="chat-container col-sm-6">
			<div class="chat-title">
				<span>Chat to <em class="chater" data-id=""><%= chatWith %></em></span>
			</div>
			<div class="chat-reply-container">
			
			</div>
			
			<!-- border-div -->
			<div class="border-div"></div>
			<section class="send-m-content">
				<article class="chat-item">
					<a href="javascript:;" class="pull-left ">
						<img class="img-circle head head-m" src="../images/head-m.gif" />
					</a>
					<section class="chat-body">
						<div class="input-group">
							<input type="text" class="form-control" id="message" placeholder="send something"/>
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" id="sendMessage">Send</button>
							</span>
						</div>
					</section>
				</article>
			</section>
		</div>
		<div class="svg-container col-sm-5 col-sm-offset-1">
			
		</div>
	</div>
		
		<!-- js lib-->
		<script type="text/javascript" src="../js/lib/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="../js/lib/bootstrap.min.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
		<script type="text/javascript" src="../js/chat.js"></script>
	</body>
</html>
