		<!-- js lib-->
		<script type="text/javascript" src="../js/lib/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="../js/lib/d3.min.js"></script>
		<script type="text/javascript" src="../js/lib/bootstrap.min.js"></script>
		<script type="text/javascript" src="../js/lib/bootstrap-datepicker.js"></script>
		<script type="text/javascript" src="../js/login.js"></script>
		<script type="text/javascript" src="../js/home.js"></script>
		<script type="text/javascript" src="../js/chat.js"></script>
		<script type="text/javascript" src="../js/reply.js"></script>
	</body>
</html>