<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<title>Full House</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1, user-scalable=no">		
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta http-equiv="content-type" content="text/html;charset=utf-8">
		<meta http-equiv="content-language" content="zh-CN">
		<meta name="keyword" content="css3,html5,js">
		<meta name="author" content="hongyang">
		<meta name="description" content="/">
		<link type="image/x-icon" rel="shortcut icon" href="../images/houselove_favicon.ico"/>
		<!-- css lib-->
		<link type="text/css" rel="stylesheet" href="../css/lib/bootstrap.min.css"/>
		<link type="text/css" rel="stylesheet" href="../css/lib/bootstrap-theme.min.css"/>
		<link type="text/css" rel="stylesheet" href="../css/lib/font-awesome.min.css"/>
		<link type="text/css" rel="stylesheet" href="../css/lib/animate.min.css"/>
