<section class="left-nav col-sm-3 hidden-xs">
	<div class="personnal-title">
		<span>Personal Information</span>				
		<i class="fa fa-toggle-on pull-right"></i>
	</div>
	<div class="personal-info">
		<div class="account">
			<img class="img-circle" src="<%= user.imageUrl%>"/>
			<a href="javascript:;" ><span><%= user.username%></span><i class="fa fa-cog fa-spin"></i></a>
			<i class="fa fa-comment-o pull-right p-badge"><span class="badge"><%= user.messages.length %></span></i>
		</div>
	</div>
	
	<!-- modal tip for show personal info -->
	<div class="p-modal hidden">
		<section class="panel bg-white">
			<div class="panel-heading p-modal-heading">
				<strong>你有 <span class="m-count"><% if(user.messages.length){ %>
					<%= user.messages.length %>
				<% } else {%>
					0
				<% }%>
				</span> 条通知</strong>
			</div>
			<div class="list-group">
				<% for(var i=0,len = user.messages.length;i< len;i++) { %>
					<a href="/home/reply" class="list-group-item media" target="iframe">
						<span class="text-center pull-left">
							<i class="fa fa-envelope-o fa-2x text-success"></i>
						</span>
						<span class="media-body d-block">
							<span class="m-message d-block"><em class="message-user" data-id="<%= user.messages[i].send_from %>"><%= user.messages[i].sender %></em>
							<% if(user.messages[i].type=="send"){ %>	
								给你留言了 
							<% }else if (user.messages[i].type=="reply"){%>
								回复了你	
							<% } else if (user.messages[i].type=="view"){ %>
								查看了你
							<% } else {%>
								@你
							<% } %>
							</span>
						</span>
					</a>
				<% } %>
				<!-- <a href="javascript:;" class="list-group-item media">
					<span class="text-center pull-left">
						<i class="fa fa-envelope-o fa-2x text-success"></i>
					</span>
					<span class="media-body d-block">
						<span class="m-message d-block">Sam upload a cost form !</span>
					</span>
				</a>
				<a href="/home/chat" class="list-group-item media" target="iframe">
					<span class="text-center pull-left">
						<img class="img-circle head head-f" src="../images/head-f.jpg" />
					</span>
					<span class="media-body d-block">
						<span class="m-message d-block">Alice leave a message for you !</span>
					</span>
				</a> -->
			</div>
		</section>
	</div>
	
	<div class="info-tips">
		<div class="title">Introduction</div>
		<div class="introduce">
			<i class="fa fa-star"></i>
			<span class="favor">Every horse thinks its own pack heaviest !</span>
		</div>
	</div>
	<div class="panel-group" id="collapsePanel" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingOne">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#collapsePanel" href="#viewRoommate" aria-expanded="true" aria-controls="viewRoommate">
						<span>
							<i class="fa fa-qq"></i>
							<em class="collapse-title">Roommates</em>
							<i class="fa fa-angle-down pull-right switch-icon"></i>
						</span>
					</a>
				</h4>
			</div>
			<div id="viewRoommate" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
				<div class="panel-body">
					<dl>
						<dd class="border-div"></dd>
						<dd><a href="/home/chat" target="iframe"><img class="img-circle head head-f" src="../images/head-f.jpg" /><em class="u-name">Admin</em><i class="fa fa-paper-plane pull-right"></i></a></dd>
						<dd class="border-div"></dd>
						<dd><a href="javascript:;"><img class="img-circle head head-m" src="../images/head-m.gif" /><em class="u-name">Sam<i class="fa fa-paper-plane pull-right"></i></em></a> </dd>
					</dl>
				</div>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingTwo">
				<h4 class="panel-title">
					<a class="collapsed" data-toggle="collapse" data-parent="#collapsePanel" href="#viewFriend" aria-expanded="false" aria-controls="viewFriend">
						<span>
							<i class="fa fa-weixin"></i>
							<em class="collapse-title">Friends </em>
							<i class="fa fa-angle-down pull-right switch-icon"></i>
						</span>
					</a>
				</h4>
			</div>
			<div id="viewFriend" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				<div class="panel-body">
					<dl>
						<dd class="border-div"></dd>
						<dd><a href="javascript:;"><img class="img-circle head head-f" src="../images/head-f.jpg" /><em class="u-name">Yummy</em> <i class="fa fa-paper-plane pull-right"></i></a></dd>
						<dd class="border-div"></dd>
						<dd><a href="javascript:;"><img class="img-circle head head-m" src="../images/head-m.gif" /><em class="u-name">Slice</em> <i class="fa fa-paper-plane pull-right"></i></a></dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
</section>