<% include header.html %>
	<link type="text/css" rel="stylesheet" href="../css/lib/datepicker.min.css"/>
	<link type="text/css" rel="stylesheet" href="../css/login.min.css"/>	
	</head>
	<body>
	<div class="container">
			<div class="switch">
				<i class="fa fa-times fa-pencil"></i>
				<div class="tooltips t-shake infinite">Click Me </div>
			</div>
			<form class="form-horizontal" method="post" action="/doReg">
				<div class="title">
					Login To Your Account 
				</div>
				<div class="form-group">
					<label for="email" class="sr-only">email:</label>
					<input type="text" id="email" class="form-control" name="email" placeholder="email"/>
				</div>
				<div class="form-group">
					<label for="password" class="sr-only">password:</label>
					<input type="password" id="password" class="form-control" name="password" placeholder="Password"/>
				</div>
				<div class="form-group">
					<label>
						<input type="checkbox" />
						<span class="chktip">Remember me</span>
					</label>
				</div>
				<div class="form-group">
					<input type="submit" class="form-control login" value="Login"/>
				</div>
				<div class="form-group">
					<label class="t-footer">
					<i class="fa fa-paper-plane-o"></i><a href="https://houselove.herokuapp.com">https://houselove.herokuapp.com </a></label>
				</div>
			</form>
			<form class="form-horizontal hidden" method="post" action="/reg">
				<div class="title">
					Create An Account 
				</div>
				<div class="form-group">
					<label for="username" class="sr-only">usename:</label>
					<input type="text" id="username" class="form-control" name="username" placeholder="Username"/>
				</div>
				<div class="form-group">
					<label for="password" class="sr-only">password:</label>
					<input type="password" id="password" class="form-control" name="password" placeholder="Password"/>
				</div>
				<div class="form-group">
					<label for="repassword" class="sr-only">repassword:</label>
					<input type="password" id="repassword" class="form-control" name="repassword" placeholder="Confirm Password"/>
				</div>
				<div class="form-group">
					<label for="email" class="sr-only">email:</label>
					<input type="text" id="email" class="form-control" name="email" placeholder="Email Address"/>
				</div>
				<div class="form-group">
					<label for="birthDate" class="sr-only">birth:</label>
					<input type="text" id="birthDate" class="form-control" name="birthDate" placeholder="Birth Date(yyyy/mm/dd)" autocomplete="off"/>
				</div>
				<div class="form-group">
					<input type="submit" class="form-control login" value="Sign Up"/>
				</div>
				<div class="form-group">
					<label class="t-footer">
					<i class="fa fa-paper-plane-o"></i><a href="https://houselove.herokuapp.com">https://houselove.herokuapp.com</a></label>
				</div>
			</form>
		</div>
<% include footer.html %>