<% include header.html %>
		<section id="sildeNav">
			<dl class="nav">
				<dd class="nav-item">
					<i class="fa fa-home"></i>
				</dd>
				<dd class="nav-item">
					<i class="fa fa-home"></i>
				</dd>
				<dd class="nav-item">
					<i class="fa fa-home"></i>
				</dd>
				<dd class="nav-item">
					<i class="fa fa-home"></i>
				</dd>
			</dl>
		</section>
		<!-- js lib-->
		<script type="text/javascript" src="../js/lib/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="../js/lib/bootstrap.min.js"></script>
		<script type="text/javascript" src="../js/lib/bootstrap-datepicker.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
	</body>
</html>