<% include header.html %>
<link type="text/css" rel="stylesheet" href="../css/reply.min.css" />
</head>
<body>
	<div class="chat-main row">
		<div class="chat-container col-sm-6">
			<div class="chat-title">
				<span>Replay to <em class="replier" data-id=""><%= user.messages.sender %></em></span>
			</div>
			<section class="reply-content-container">
				<% for(var i=0,len = user.messages.content.length;i< len;i++){ %>
				<section class="chat-content">
					<article class="chat-item">
						<a href="javascript:;" class="pull-left ">
							<img class="img-circle head head-f" src="<%= user.imageUrl %>" />
						</a>
						<section class="chat-body">
							<div class="panel text-sm">
								<div class="arrow-left-up"></div>
								<div class="arrow-left-down"></div>
								<div class="panel-body">
									<p><%= user.messages.content[i].body %></p>
								</div>
							</div>
							<small class="send-time"><%= user.messages.sender %>, <%= user.messages.content[i].send_time %></small>
						</section>
					</article>
				</section>
				<% } %>
			</section>
			<!-- border-div -->
			<div class="border-div"></div>
			<section class="send-m-content">
				<article class="chat-item">
					<a href="javascript:;" class="pull-left ">
						<img class="img-circle head head-m" src="../images/head-m.gif" />
					</a>
					<section class="chat-body">
						<div class="input-group">
							<input type="text" class="form-control" id="replyMessage" placeholder="send something"/>
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" id="replySendMessage">Send</button>
							</span>
						</div>
					</section>
				</article>
			</section>
		</div>
		<div class="svg-container col-sm-5 col-sm-offset-1">
			
		</div>
	</div>

		<!-- js lib-->
		<script type="text/javascript" src="../js/lib/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="../js/lib/bootstrap.min.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
		<script type="text/javascript" src="../js/reply.js"></script>
	</body>
</html>
