/* mixins css*/
/* -weikit-scrollbar 
 *@description 
 * @scroll_width: scrollbar width
 * @scroll_height: scrollbar height
 * @b-radius: scrollbar border-radius
*/
.bg-white {
  background: #ffffff;
  margin: 0;
}
.text-center {
  text-align: center;
}
.text-sm {
  font-size: 0.75em;
  line-height: 0.75em;
  vertical-align: middle;
}
.text-success {
  color: #1aae88;
}
.d-block {
  display: block;
}
.head {
  width: 25px;
}
.border-div {
  height: 0px;
  border: 1px solid #e1e6ef;
  padding: 0;
  margin: 25px -15px;
}
.p-modal {
  width: 300px;
  height: auto;
  position: absolute;
  left: 100%;
  top: 20px;
  z-index: 5;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.p-modal:before {
  content: "";
  display: block;
  position: absolute;
  top: 50px;
  left: -16px;
  border-top: 8px solid transparent;
  border-right: 8px solid rgba(255, 255, 255, 0.7);
  border-bottom: 8px solid transparent;
  border-left: 8px solid transparent;
}
.p-modal .p-modal-heading,
.p-modal .list-group {
  background-color: #f2f4f8;
}
.p-modal .p-modal-heading {
  border-bottom: 1px solid #dddddd;
}
.p-modal .list-group-item {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
  background-color: #f2f4f8;
}
.p-modal .list-group-item:hover {
  background-color: #ffffff;
}
/* this is for arrow */
.arrow-left-up {
  width: 0px;
  height: 0px;
  position: relative;
  z-index: 2;
  /*border-color:#fff;*/
  top: 17px;
  left: -15px;
  border-top: 8px solid transparent;
  border-right: 8px solid #fff;
  border-bottom: 8px solid transparent;
  border-left: 8px solid transparent;
}
.arrow-left-down {
  width: 0px;
  height: 0px;
  position: relative;
  z-index: 1;
  top: 0px;
  left: -18px;
  /*border-color:#fff;*/
  border-top: 9px solid transparent;
  border-right: 9px solid #e1e6ef;
  border-bottom: 9px solid transparent;
  border-left: 9px solid transparent;
}
.arrow-right-up {
  width: 0px;
  height: 0px;
  position: relative;
  z-index: 2;
  /*border-color:#fff;*/
  top: 20px;
  right: -100%;
  border-top: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #fff;
}
.arrow-right-down {
  width: 0px;
  height: 0px;
  position: relative;
  z-index: 1;
  top: 3px;
  right: -100%;
  /*border-color:#fff;*/
  border-top: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 9px solid #e1e6ef;
}
.chat-main {
  margin: 0 auto 15px auto;
  overflow: auto;
}
.chat-container,
.svg-container {
  padding: 0px 15px 30px 15px;
  border-radius: 5px;
  border: 1px solid gainsboro;
  margin: 10px;
}
.chat-container .chat-title,
.svg-container .chat-title {
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 11px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  vertical-align: middle;
  text-align: left;
  background: #f9fafc;
  border-bottom: 1px solid #dddddd;
}
.chat-container .chat-title span,
.svg-container .chat-title span {
  margin-left: 15px;
}
.chat-container .re-chat-content,
.svg-container .re-chat-content {
  margin-top: 15px;
}
.chat-container .re-chat-content .chat-body,
.svg-container .re-chat-content .chat-body {
  margin-right: 30px;
}
.chat-container .re-chat-content .chat-body .panel,
.svg-container .re-chat-content .chat-body .panel {
  border-radius: 5px;
  border: 1px solid #e1e6ef;
  margin-bottom: 0;
}
.chat-container .re-chat-content .chat-body .panel .panel-body,
.svg-container .re-chat-content .chat-body .panel .panel-body {
  margin-top: -30px;
}
.chat-container .re-chat-content .chat-body .send-time,
.svg-container .re-chat-content .chat-body .send-time {
  color: #b0b6ba;
}
.chat-container .send-m-content,
.svg-container .send-m-content {
  margin-top: 20px;
}
.chat-container .send-m-content .chat-body,
.svg-container .send-m-content .chat-body {
  margin-left: 30px;
}
.chat-container .chat-content,
.svg-container .chat-content {
  margin-top: 15px;
}
.chat-container .chat-content .chat-body,
.svg-container .chat-content .chat-body {
  margin-left: 30px;
}
.chat-container .chat-content .chat-body .panel,
.svg-container .chat-content .chat-body .panel {
  /*&:before{
					content:"";
					width:0px;
					height:0px;
					position:absolute;
					z-index:2;
					top:71px;
					left:30px;
					border-top:8px solid transparent;
					border-right:8px solid #fff;
					border-bottom:8px solid transparent;
					border-left:8px solid transparent;
				}
				&:after{
					content:"";
					width:0px;
					height:0px;
					position:absolute;
					z-index:1;
					top:70px;
					left:27px;
					border-top:9px solid transparent;
					border-right:9px solid @chat-content-border;
					border-bottom:9px solid transparent;
					border-left:9px solid transparent;
				}*/
  border-radius: 5px;
  border: 1px solid #e1e6ef;
  margin-bottom: 0;
}
.chat-container .chat-content .chat-body .panel .panel-body,
.svg-container .chat-content .chat-body .panel .panel-body {
  margin-top: -30px;
}
.chat-container .chat-content .chat-body .send-time,
.svg-container .chat-content .chat-body .send-time {
  color: #b0b6ba;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(50, 50, 50, 0.25);
  border: 2px solid transparent;
  border-radius: 10px;
  background-clip: padding-box;
}
::-webkit-scrollbar-button {
  background-color: rgba(50, 50, 50, 0.05);
}
::-webkit-scrollbar-track {
  background-color: rgba(50, 50, 50, 0.05);
}
/*::-webkit-scrollbar-button:vertical:decrement:hover{
		background-color:rgba(50,50,50,.25);
	}
	
	::-webkit-scrollbar-thumb:window-inactive{
		background-color:rgba(50,50,50,.05);
	}*/
