.navbar-nav .fa-power-off {
  padding-right: 8px;
}
header.navbar-inverse {
  margin-bottom: 0;
}
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-brand span {
  font-family: cursive;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  line-height: 40px;
  vertical-align: middle;
}
#logo {
  background: url("../images/houselove_logo.png") 50px 50px no-repeat;
  width: 50px;
  height: 50px;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
/* mixins css*/
/* -weikit-scrollbar 
 *@description 
 * @scroll_width: scrollbar width
 * @scroll_height: scrollbar height
 * @b-radius: scrollbar border-radius
*/
.bg-white {
  background: #ffffff;
  margin: 0;
}
.text-center {
  text-align: center;
}
.text-sm {
  font-size: 0.75em;
  line-height: 0.75em;
  vertical-align: middle;
}
.text-success {
  color: #1aae88;
}
.d-block {
  display: block;
}
.head {
  width: 25px;
}
.border-div {
  height: 0px;
  border: 1px solid #e1e6ef;
  padding: 0;
  margin: 25px -15px;
}
.p-modal {
  width: 300px;
  height: auto;
  position: absolute;
  left: 100%;
  top: 20px;
  z-index: 5;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.p-modal:before {
  content: "";
  display: block;
  position: absolute;
  top: 50px;
  left: -16px;
  border-top: 8px solid transparent;
  border-right: 8px solid rgba(255, 255, 255, 0.7);
  border-bottom: 8px solid transparent;
  border-left: 8px solid transparent;
}
.p-modal .p-modal-heading,
.p-modal .list-group {
  background-color: #f2f4f8;
}
.p-modal .p-modal-heading {
  border-bottom: 1px solid #dddddd;
}
.p-modal .list-group-item {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
  background-color: #f2f4f8;
}
.p-modal .list-group-item:hover {
  background-color: #ffffff;
}
/* this is for arrow */
.arrow-left-up {
  width: 0px;
  height: 0px;
  position: relative;
  z-index: 2;
  /*border-color:#fff;*/
  top: 17px;
  left: -15px;
  border-top: 8px solid transparent;
  border-right: 8px solid #fff;
  border-bottom: 8px solid transparent;
  border-left: 8px solid transparent;
}
.arrow-left-down {
  width: 0px;
  height: 0px;
  position: relative;
  z-index: 1;
  top: 0px;
  left: -18px;
  /*border-color:#fff;*/
  border-top: 9px solid transparent;
  border-right: 9px solid #e1e6ef;
  border-bottom: 9px solid transparent;
  border-left: 9px solid transparent;
}
.arrow-right-up {
  width: 0px;
  height: 0px;
  position: relative;
  z-index: 2;
  /*border-color:#fff;*/
  top: 20px;
  right: -100%;
  border-top: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #fff;
}
.arrow-right-down {
  width: 0px;
  height: 0px;
  position: relative;
  z-index: 1;
  top: 3px;
  right: -100%;
  /*border-color:#fff;*/
  border-top: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 9px solid #e1e6ef;
}
.left-nav {
  height: 100%;
  position: absolute;
  background: rgba(79, 74, 145, 0.9);
  padding: 0;
}
.left-nav .personnal-title {
  padding: 10px 15px;
  color: #ffffff;
  font-size: 20px;
}
.left-nav .personnal-title .fa {
  font-size: 25px;
  line-height: 25px;
  color: #ffffff;
  margin-top: 4px;
}
.left-nav .personal-info {
  padding: 10px 15px;
  background: #4f4a91;
  font-size: 18px;
}
.left-nav .personal-info .account .img-circle {
  display: inline-block;
  width: 28px;
  height: 28px;
}
.left-nav .personal-info .account a {
  font-size: 17px;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  padding-left: 15px;
}
.left-nav .personal-info .account a span {
  padding-right: 10px;
}
.left-nav .personal-info .account .fa-comment-o {
  cursor: pointer;
  color: #ffffff;
  font-size: 22px;
  line-height: 22px;
  margin-top: 4px;
  margin-right: 7px;
}
.left-nav .personal-info .account .fa-comment-o:after {
  content: '2';
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  font-size: 0.5em;
  color: #ffffff;
  line-height: 1.2em;
  vertical-align: middle;
  right: 15px;
  top: 60px;
  z-index: 2;
  background: rgba(92, 154, 66, 0.9);
  text-align: center;
  border-radius: 5px;
}
.left-nav .info-tips {
  padding: 10px 15px;
  background: #4f4a91;
  font-size: 18px;
}
.left-nav .info-tips div.title {
  border-top: 1px solid #3b367d;
  font-size: 19px;
  color: #7772b9;
  padding: 8px 0px;
}
.left-nav .info-tips .introduce {
  background: #3b367d;
  height: 75px;
  border-radius: 5px;
  border: 1px solid #4f4a91;
  box-shadow: inset 0 0 2px 2px #4f4a91;
}
.left-nav .info-tips .introduce .fa {
  color: #a2a4c5;
  vertical-align: middle;
  height: 75px;
  padding: 0px 15px;
  display: table-cell;
}
.left-nav .info-tips .introduce .favor {
  color: #a2a4c5;
  font-size: 12px;
  vertical-align: middle;
  height: 75px;
  display: table-cell;
  position: relative;
  padding-right: 10px;
}
.left-nav .panel-group {
  background: #4f4a91;
  padding: 10px 15px;
}
.left-nav .panel-group a {
  text-decoration: none;
  color: #a2a4c5;
  font-size: 17px;
}
.left-nav .panel-group .panel {
  border: none;
  border-radius: 0;
}
.left-nav .panel-group .panel-default {
  box-shadow: 0 0 1px 1px #3b367d;
  margin-left: 5px;
}
.left-nav .panel-group .panel-default .panel-heading {
  background-color: #4f4a91;
  background-image: none;
  border: none;
  border-radius: 0;
}
.left-nav .panel-group .panel-default .panel-heading span {
  display: block;
}
.left-nav .panel-group .panel-default .panel-heading .collapse-title {
  padding-left: 10px;
}
.left-nav .panel-group .panel-default .panel-collapse {
  background-color: #4f4a91;
  background-image: none;
  border: none;
  border-radius: 0;
}
.left-nav .panel-group .panel-default .panel-body {
  background-color: #4f4a91;
  background-image: none;
  border: none;
  border-radius: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}
.left-nav .panel-group .panel-default .panel-body .head {
  width: 25px;
}
.left-nav .panel-group .panel-default .panel-body .u-name {
  padding-left: 5px;
}
.left-nav .panel-group .panel-default .panel-body .fa-paper-plane {
  height: 25px;
  line-height: 25px;
  cursor: pointer;
}
.left-nav .panel-group .panel-default .panel-body dl {
  margin-bottom: 0px;
}
.left-nav .panel-group .panel-default .panel-body dl dd {
  padding-top: 5px;
  padding-bottom: 5px;
}
.left-nav .panel-group .panel-default .panel-body dl .border-div {
  width: 100%;
  height: 0px;
  border: 1px solid #3b367d;
  padding: 0;
  margin: 0;
}
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
@media (min-width: 1200px) {
  .container {
    width: 90%;
  }
}
.home-row {
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .main-content {
    position: absolute;
    height: 100%;
    margin-left: 25%;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .main-content {
    position: absolute;
    height: 100%;
    padding: 0;
  }
}
#iframe {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(50, 50, 50, 0.25);
  border: 2px solid transparent;
  border-radius: 10px;
  background-clip: padding-box;
}
::-webkit-scrollbar-button {
  background-color: rgba(50, 50, 50, 0.05);
}
::-webkit-scrollbar-track {
  background-color: rgba(50, 50, 50, 0.05);
}
/*::-webkit-scrollbar-button:vertical:decrement:hover{
		background-color:rgba(50,50,50,.25);
	}
	
	::-webkit-scrollbar-thumb:window-inactive{
		background-color:rgba(50,50,50,.05);
	}*/
