<div class="panel panel-default">
	<div class="panel-heading" role="tab" id="headingOne">
		<h4 class="panel-title">
			<a data-toggle="collapse" data-parent="#collapsePanel" href="#viewRoommate" aria-expanded="true" aria-controls="viewRoommate">
				<span>
					<i class="fa fa-qq"></i>
					<em class="collapse-title">Roommates</em>
					<i class="fa fa-angle-down pull-right switch-icon"></i>
				</span>
			</a>
		</h4>
	</div>
	<div id="viewRoommate" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		<div class="panel-body">
			<dl>
				<dd class="border-div"></dd>
				<dd><a href="/home/chat?chatWith=Admin" target="iframe"><img class="img-circle head head-f" src="../images/head-f.jpg" /><em class="u-name">Admin</em><i class="fa fa-paper-plane pull-right"></i></a></dd>
				<dd class="border-div"></dd>
				<dd><a href="/home/chat?chatWith=Sam" target="iframe"><img class="img-circle head head-m" src="../images/head-m.gif" /><em class="u-name">Sam<i class="fa fa-paper-plane pull-right"></i></em></a> </dd>
			</dl>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading" role="tab" id="headingTwo">
		<h4 class="panel-title">
			<a class="collapsed" data-toggle="collapse" data-parent="#collapsePanel" href="#viewFriend" aria-expanded="false" aria-controls="viewFriend">
				<span>
					<i class="fa fa-weixin"></i>
					<em class="collapse-title">Friends </em>
					<i class="fa fa-angle-down pull-right switch-icon"></i>
				</span>
			</a>
		</h4>
	</div>
	<div id="viewFriend" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
		<div class="panel-body">
			<dl>
				<dd class="border-div"></dd>
				<dd><a href="/home/chat?chatWith=Yummy" target="iframe"><img class="img-circle head head-f" src="../images/head-f.jpg" /><em class="u-name">Yummy</em> <i class="fa fa-paper-plane pull-right"></i></a></dd>
				<dd class="border-div"></dd>
				<dd><a href="/home/chat?chatWith=Slice" target="iframe"><img class="img-circle head head-m" src="../images/head-m.gif" /><em class="u-name">Slice</em> <i class="fa fa-paper-plane pull-right"></i></a></dd>
			</dl>
		</div>
	</div>
</div>